<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PenguHash</Name>
    <Version>1.1.2</Version>
    <Title>Pengu Installer</Title>
    <Publisher>MicroPenguin</Publisher>
    <StartMenuDir>Super App</StartMenuDir>
    <TargetDir>@RootDir@InstallationDirectory</TargetDir>


<RemoteRepositories>
     <Repository>
             <Url>http://micropenguin.net/files/Packages/repository</Url>
             <Enabled>1</Enabled>
          
             <DisplayName>repository</DisplayName>
     </Repository>
</RemoteRepositories>


</Installer>
